/*Plans*/

/*In case of hover on the cards for plans
they will be transformed toward outside by 0.2seconds*/
.plan {
  transition: transform 0.2s ease-out;
}

.plan__name {
  color: white;
  margin: 0; /*Removes the margin applied by h3*/
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8; /*It transparents the text*/
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px; /*Create space between the letters*/
  display: block; /*Moves the description into a new line*/
}

/* Gives bottom margin to the lists items*/
.plan .list__item {
  margin-bottom: 2rem;
}

/*It used in plans-blocks*/
.plan--popular {
  transform: scale(1.1); /*The plan card is larger than others*/
}

/* If we have an element called plan--popular 
the parent has to accept the following rules*/
.plan--popular .card__header {
  position: relative;
}

/* It handles the popular badge */
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block; /*BcZ the img is inline element,
  the display would be inline-block to accept the width*/
  position: absolute;
  top: -6px; /*top edge of the badge sets to top edge of the parent*/
  right: 5%;
}
/* It handles the popular badge */

/*If we hover on the plan cards they will be larger*/
.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

/* Media Querey applies for screens over 1024px */
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan_price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}
/* Media Querey applies for screens over 1024px */
