:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

/*------------ TYPOGRAPHY ---------------*/
html {
  /* 62.5% of 16px = 10px 
  default font-size of HTML elements are 16px*/
  font-size: 62.5%; /*Equals to 10px*/
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body); /*Using var(:root defines)*/
  font-size: 2.4rem;
  line-height: 1.5; /*1.5 size of current font size (10px in this case)*/
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem; /*10px*/
}

h1 {
  font-size: 7rem; /*rem reflects the html font-size*/
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
p {
  margin-top: 0; /*Set the margin top to 0 to avoid margin collapse*/
}

/*The media rule applies when the min size of viewport (Screen)
is 1024px*/
/*Media*/
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*Media*/
/*------------ TYPOGRAPHY ---------------*/

/*------------ LINKS ---------------*/
a {
  text-decoration: none; /*It will remove the underline line below links*/
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase; /*UPPER CASE*/
  font-size: 2rem; /*20px*/
  font-weight: bold;
}

/* Adding the arrow after the text */
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s; /*The arrow moves to the left in 0.15s*/
}
/* Adding the arrow after the text */

/*When we hover on the link the following states comes in to play*/
.link-arrow:hover::after {
  margin-left: 12px; /*When we hover on the link the arrow comes to 12px*/
}
/*When we hover on the link the following states comes in to play*/

/*This media query will be applied to the desktops*/
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/*This media query will be applied to the desktops*/

/*------------ LINKS ---------------*/
