<!-- Block elements -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading2</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, quasi!
    </p>
  </header>
</section>
<!-- Block elements -->

<!--Dark Block elements -->
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">Heading2</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, quasi!
    </p>
  </div>
</section>
<!--Dark Block elements -->
