<!-- Callout box -->
<div class="callout callout--primary">
  <!-- The box divided into 2 column grid -->
  <div class="grid grid1x2">
    <!-- Column 1 contains the header & the paragraph -->
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui totam
        voluptates architecto impedit esse expedita assumenda id? Labore, minus
        culpa.
      </p>
    </div>
    <!-- Column 1 contains the header & the paragraph -->

    <!-- Column 2 contains the link where takes the client to the next page -->
    <a href="#" class="btn btn--secondary btn--stretched">Get Started </a>
    <!-- Column 2 contains the link where takes the client to the next page -->
  </div>
  <!-- The box divided into 2 column grid -->
</div>
<!-- Callout box -->
