<!-- Creating a card -->
<div style="width: 50%; padding: 4rem">
  <!-- The plan div contains a card, badge, list & btn -->
  <div class="plan plan--popular">
    <!-- The card contains a header & body -->
    <div class="card card--secondary">
      <!-- The header section has the following details -->
      <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <span class="plan__description">Easy start on the Cloud </span>
      </header>
      <!-- The header section has the following details -->
      <div class="card__body">
        <!-- Lists -->
        <ul class="list list--tick">
          <li class="list__item">Unlimited Websites</li>
          <li class="list__item">Unlimited Bandwidth</li>
          <li class="list__item">100 GB SSD Storage</li>
          <li class="list__item">3 GB RAM</li>
        </ul>
        <!-- Lists -->

        <!-- Add a btn to the card plan -->
        <button class="btn btn--outline btn--block">Buy now</button>
        <!-- Add a btn to the card plan -->
      </div>
    </div>
    <!-- The card contains a header & body -->
  </div>
  <!-- The plan div contains a card, badge, list & btn -->
</div>
<!-- Creating a card -->
