<!--Collapsible drop-down menu  -->
<div class="collapsible collapsible--expanded">
  <!-- The header section contains the header txt & dropdown icon -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <!-- Dropdown icon to expand the menu -->
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
    <!-- Dropdown icon to expand the menu -->
  </header>
  <!-- The header section contains the header txt & dropdown icon -->
  <!-- The content of the dropdown menu -->
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident voluptas
    est quam sunt atque aperiam commodi necessitatibus quae omnis similique.
  </div>
  <!-- The content of the dropdown menu -->
</div>
<!--Collapsible drop-down menu  -->

<!-- The reason we put the js code at the end is because we 
  don't want to slow down the render time of the page when it loads -->
<script src="js/main.js"></script>
