<!-- Adding the footer -->
<footer class="block block--dark footer">
  <!-- Main div contains all the collapsible menus -->
  <div class="container grid footer__sections">
    <!-- Section 1 -->
    <!--Collapsible drop-down menu  -->
    <section class="collapsible collapsible--expanded footer__section">
      <!-- The header section contains the header txt & dropdown icon -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <!-- Dropdown icon to expand the menu -->
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
        <!-- Dropdown icon to expand the menu -->
      </header>
      <!-- The header section contains the header txt & dropdown icon -->
      <!-- The content of the dropdown menu -->
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
      <!-- The content of the dropdown menu -->
    </section>
    <!--Collapsible drop-down menu  -->
    <!-- Section 1 -->

    <!-- Section 2 -->
    <!--Collapsible drop-down menu  -->
    <section class="collapsible footer__section">
      <!-- The header section contains the header txt & dropdown icon -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <!-- Dropdown icon to expand the menu -->
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
        <!-- Dropdown icon to expand the menu -->
      </header>
      <!-- The header section contains the header txt & dropdown icon -->
      <!-- The content of the dropdown menu -->
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <!-- The content of the dropdown menu -->
    </section>
    <!--Collapsible drop-down menu  -->
    <!-- Section 2 -->

    <!-- Section 3 -->
    <!--Collapsible drop-down menu  -->
    <section class="collapsible footer__section">
      <!-- The header section contains the header txt & dropdown icon -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <!-- Dropdown icon to expand the menu -->
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
        <!-- Dropdown icon to expand the menu -->
      </header>
      <!-- The header section contains the header txt & dropdown icon -->
      <!-- The content of the dropdown menu -->
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <!-- The content of the dropdown menu -->
    </section>
    <!--Collapsible drop-down menu  -->
    <!-- Section 3 -->

    <!-- Section 4 -->
    <!--Collapsible drop-down menu  -->
    <section class="collapsible footer__section">
      <!-- The header section contains the header txt & dropdown icon -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <!-- Dropdown icon to expand the menu -->
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
        <!-- Dropdown icon to expand the menu -->
      </header>
      <!-- The header section contains the header txt & dropdown icon -->
      <!-- The content of the dropdown menu -->
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
      <!-- The content of the dropdown menu -->
    </section>
    <!--Collapsible drop-down menu  -->
    <!-- Section 4 -->

    <!-- Brand section -->
    <section class="footer__brand">
      <img src="images/logo.svg" alt="#" />
      <p class="footer__copyright">Copyright 2021 Behzad.P</p>
    </section>
    <!-- Brand section -->
  </div>
  <!-- Main div contains all the collapsible menus -->
</footer>
<!-- Adding the footer -->
