<!-- Home page icons -->
<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <!-- elements in the first column -->
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting For PROs</h1>
      <p class="hero__tagline">Deploy your website in less than 60 seconds.</p>
      <a href="" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <!-- elements in the first column -->

    <picture>
      <!-- Sources for webp format images -->
      <source
        type="image/webp"
        srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
      />
      <!-- Sources for webp format images -->

      <!-- Sources for png format images -->
      <source
        type="image/png"
        srcset="images/banner.png 1x, images/banner@2x.png 2x"
      />
      <!-- Sources for png format images -->

      <!-- elements in the second column -->
      <img class="hero__image" src="images/banner.png" alt="" />
      <!-- elements in the second column -->
    </picture>
  </div>
</section>
<!-- Home page icons -->
