<!-- Create a media -->
<div class="media">
  <!-- Icon image -->
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <!-- Icon image -->

  <!-- Add heading & details -->
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora id atque
      mollitia optio perspiciatis. Deserunt corrupti ex provident neque
      voluptate.
    </p>
  </div>
  <!-- Add heading & details -->
</div>
<!-- Create a media -->
