<!-- Creating the plan blocks -->
<section class="block container block-plans">
  <!-- 3 column and 1 row for stacking the plan blocks -->
  <div class="grid grid--1x3">
    <!-- Plan 1 - $14 per month-->
    <div class="plan">
      <!-- The card contains a header & body -->
      <div class="card card--secondary">
        <!-- The header section has the following details -->
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Easy start on the Cloud </span>
        </header>
        <!-- The header section has the following details -->
        <div class="card__body">
          <!-- Lists -->
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <!-- Lists -->

          <!-- Add a btn to the card plan -->
          <button class="btn btn--outline btn--block">Buy now</button>
          <!-- Add a btn to the card plan -->
        </div>
      </div>
      <!-- The card contains a header & body -->
    </div>
    <!-- Plan 1 - $14 per month-->

    <!-- Popular plan - $29 per month -->
    <div class="plan plan--popular">
      <!-- The card contains a header & body -->
      <div class="card card--primary">
        <!-- The header section has the following details -->
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--primary badge--small">10% OFF</span>
          <span class="plan__description">Easy start on the Cloud </span>
        </header>
        <!-- The header section has the following details -->
        <div class="card__body">
          <!-- Lists -->
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <!-- Lists -->

          <!-- Add a btn to the card plan -->
          <button class="btn btn--outline btn--block">Buy now</button>
          <!-- Add a btn to the card plan -->
        </div>
      </div>
      <!-- The card contains a header & body -->
    </div>
    <!-- Popular plan - $29 per month -->

    <!-- Plan 3 - $20 per month -->
    <div class="plan">
      <!-- The card contains a header & body -->
      <div class="card card--secondary">
        <!-- The header section has the following details -->
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Easy start on the Cloud </span>
        </header>
        <!-- The header section has the following details -->
        <div class="card__body">
          <!-- Lists -->
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <!-- Lists -->

          <!-- Add a btn to the card plan -->
          <button class="btn btn--outline btn--block">Buy now</button>
          <!-- Add a btn to the card plan -->
        </div>
      </div>
      <!-- The card contains a header & body -->
    </div>
    <!-- Plan 3 - $20 per month -->
  </div>
  <!-- 3 column and 1 row for stacking the plan blocks -->
</section>
<!-- Creating the plan blocks -->
