<!-- Quotes -->
<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam atque
    aperiam sed minima soluta quos distinctio est esse beatae incidunt.
  </p>

  <footer>
    <!-- Create a media -->
    <div class="media">
      <!-- Icon image -->
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <!-- Icon image -->

      <!-- Add heading & details -->
      <div class="media__body">
        <h3 class="media__title quote__author">Adem Eve</h3>
        <p class="quote__organization">Lego Co CFO</p>
      </div>
      <!-- Add heading & details -->
    </div>
    <!-- Create a media -->
  </footer>
</blockquote>
<!-- Quotes -->
