<!-- Testemonial card-->
<div class="card testimonial">
  <!-- Div grid -->
  <div class="grid grid--1x2">
    <!-- Testimonial img -->
    <div class="testimonial__image">
      <!-- The client image -->
      <img src="images/testimonial.jpg" alt="Client image" />
      <!-- The client image -->
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <!-- Testimonial img -->

    <!-- Quotes -->
    <blockquote class="quote">
      <p class="quote__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam atque
        aperiam sed minima soluta quos distinctio est esse beatae incidunt.
      </p>

      <footer>
        <!-- Create a media -->
        <div class="media">
          <!-- Icon image -->
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <!-- Icon image -->

          <!-- Add heading & details -->
          <div class="media__body">
            <h3 class="media__title quote__author">Adem Eve</h3>
            <p class="quote__organization">Lego Co CFO</p>
          </div>
          <!-- Add heading & details -->
        </div>
        <!-- Create a media -->
      </footer>
    </blockquote>
    <!-- Quotes -->
  </div>
  <!-- Div grid -->
</div>
<!-- Testemonial card-->
